

@media screen and (min-width: 1920px) {
  .hero_style_main {
    margin: 100px 240px;
    padding: 0px 44px;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .cart-details-style{
    margin: 114px 203px;
    padding: 0px 44px;
  }
  .shopping-cart-section-style{
    margin: 100px 240px;
    padding: 0px 44px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1919.98px) {
  .hero_style_main {
    margin: 78px 0px;
    padding: 0px 44px;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .cart-details-style{
    margin: 114px 203px; 
  }
  .shopping-cart-section-style{
    margin: 70px 50px; 
  }
}

@media screen and (min-width: 1280px) and (max-width: 1365.98px) {
  .hero_style_main {
    margin: 78px 0px;
    padding: 0px 50px;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .cart-details-style{
    margin: 114px 203px; 
  }
  .shopping-cart-section-style{
    margin: 70px 50px; 
  }
}

@media (min-width: 1024px) and (max-width: 1279.98px) {
  .hero_style_main {
    margin: 50px 0px;
    padding: 0px 44px;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .cart-details-style{
    margin: 114px 80px; 
  }
   .shopping-cart-section-style{
    margin: 70px 50px; 
  }
}

@media (min-width: 600px) and (max-width: 799.98px) {
  .hero_style_main {
    margin: 50px 0px;
    padding: 0px 32px;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .cart-details-style{
    margin: 114px 80px; 
  }
  .shopping-cart-section-style{
    margin: 95px 50px; 
  }
}

@media (min-width: 360px) and (max-width: 427.98px) {
  .hero_style_main {
    margin: 50px 0px;
    padding: 0px 20px;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  } 
  .shopping-cart-section-style{
    margin: 95px 20px; 
  }
    
}
