@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Beatrice Deck Trial Medium';
  src: url('/fonts/BeatriceDeckTrial-Medium.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Beatrice Deck Trial Regular';
  src: url('/fonts/BeatriceDeckTrial-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Beatrice Deck Trial Extrabold';
  src: url('/fonts/BeatriceDeckTrial-Extrabold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Beatrice Trial Regular';
  src: url('/fonts/BeatriceTrial-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Beatrice Headline Trial Medium';
  src: url('/fonts/BeatriceHeadlineTrial-Medium.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Beatrice Trial Light';
  src: url('/fonts/BeatriceTrial-Light.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter Medium';
  src: url('/fonts/Inter-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Beatrice Deck Trial Bold';
  src: url('/fonts/BeatriceDeckTrial-Bold.otf') format('opentype');
  font-display: swap;
}


body{
  background: #f3f3f3;
}